@page "/"
<style>
	.responsive-img {
		width: 100%;
		height: auto;
		max-width: 800px;
		max-height: 800px;
	}
</style>

<PageTitle>Home</PageTitle>

<h1>Welcome To Rick and Morty API</h1>

<div class="container">
	<img src="https://1000logos.net/wp-content/uploads/2022/03/Rick-and-Morty.png" class="img-fluid responsive-img" alt="Portada">
</div>

